<h2>Convert to Crypto</h2>

<label>Account id: <input type="number" [(ngModel)]="accountId" /></label>
<br />
<label>Target crypto:
	<select [(ngModel)]="target">
		<option value="">-- select --</option>
		<option *ngFor="let c of currencies" [value]="c">{{c}}</option>
	</select>
</label>
<br />
<button (click)="convert()" [disabled]="loading">Convert</button>

<div *ngIf="loading">Converting...</div>
<div *ngIf="error">{{error}}</div>
<div *ngIf="result">
	<h3>Result</h3>
	<pre>{{result | json}}</pre>
</div>
