<div class="home-container">
  <h1>Le tue Carte Conti</h1>
  <p class="subtitle">Seleziona un conto per visualizzare i tuoi movimenti</p>
  
  <table>
    <thead>
      <tr><th>ID</th><th>Intestatario</th><th>Codice Fiscale</th><th>Valuta</th><th></th></tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of accounts">
        <td>{{a.id}}</td>
        <td>{{a.owner_name}}</td>
        <td>{{a.tax_id}}</td>
        <td><strong>{{a.currency}}</strong></td>
        <td><button (click)="viewTransactions(a)">Visualizza Movimenti</button></td>
      </tr>
    </tbody>
  </table>
</div>
